@model Sale

<form method="post" asp-action="DeleteSale">
    <div class="border p-3 mt-4">
        <input asp-for="Id" hidden />
        <div class="row pb-2">
            <h2>Delete Sale</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="ItemPurchased">Item Purchased</label>
            <input asp-for="ItemPurchased" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Quantity">Quantity</label>
            <input asp-for="Quantity" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Price">Price</label>
            <input asp-for="Price" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="PaymentMethod">Payment Method</label>
            <input asp-for="PaymentMethod" disabled class="form-control" />
        </div>
        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
        <a asp-controller="Sale" asp-action="Index" class="btn btn-secondary" style="150px">Back to List</a>
    </div>
</form>