@model Vaccine

<form method="post" asp-action="Edit">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2>Edit Vaccine</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Description">Description</label>
            <input asp-for="Description" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Purpose">Purpose</label>
            <input asp-for="Purpose" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Alternative">Alternative</label>
            <input asp-for="Alternative" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="ExpiryDate">Expiry Date</label>
            <input asp-for="ExpiryDate" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Quantity">Quantity</label>
            <input asp-for="Quantity" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Amount">Amount</label>
            <input asp-for="Amount" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Currency">Currency</label>
            <input asp-for="Currency" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Submit</button>
        <a asp-controller="Vaccine" asp-action="Index" class="btn btn-secondary" style="150px">Back to List</a>
    </div>
</form>